@{
    Layout = "Admin/_AdminLayout";
}

@model List<Photo>

@if (Model.Count() == 0)
{
    <div><strong>Non risultano foto da mostrare</strong></div>
}
else
{
    <div class="container">

        <div class="row">

            <div class="col-12">

                <h1 class="py-5 text-uppercase">Lista delle foto</h1>

                <table class="table table-light table-hover table-bordered caption-top">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Photo photo in Model)
                        {
                            @* controllo che la proprietà della visibilità sia impostata su true *@
                            @if (photo.IsVisible)
                            {
                                <tr>
                                    <th scope="row">@photo.Id</th>
                                    <td><img src="@photo.PathImage" width="100" /></td>
                                    <td>@photo.Title</td>
                                    <td>@photo.Description</td>
                                    <td>

                                        @* bottone per la details *@
                                        <a class="btn btn-info" href="@Url.Action("Details", "Photo", new {id = photo.Id})"><i class="fa-solid fa-magnifying-glass"></i></a>

                                        @* bottone per l'update *@

                                        @* <a class="btn btn-warning" href="@Url.Action("Update", "Photo", new {id = photo.Id})"><i class="fa-solid fa-pencil"></i></a> *@

                                        @* Button per richiamare il modale *@
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#deleteModal" + photo.Id)">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                        @* Modal *@
                                        <div class="modal fade" id="@("deleteModal" + photo.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content bg-dark">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Elimina foto</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Sei sicuro di voler eliminare definitivamente la foto?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>

                                                        @* bottone per l'eliminazione *@

                                                        @* <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.Id" method="post">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            </form> *@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                            }

                        }

                    </tbody>
                </table>


                @* @if (User.IsInRole("ADMIN")){} *@

                @* bottone per la create della foto *@
                <div class="text-center py-3">

                    <a class="btn btn-warning" href="@Url.Action("Create", "Photo")">
                        Aggiungi nuova foto
                    </a>
                </div>


            </div>

        </div>
    </div>
}