<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-2 border-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Photo")">
                <img src="~/img/portfolio.png" alt="Portfolio" width="55">
            </a>
            <a class="navbar-brand" href="@Url.Action("Index", "Photo")">PORTFOLIO</a>
            <button class="navbar-toggler border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                @* <span class="navbar-toggler-icon border-dark"></span> *@
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Photo")">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">User Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Azioni
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Create", "Photo")"><i class="fa-solid fa-upload"></i> Aggiungi nuova foto</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Message")"><i class="fa-solid fa-envelope"></i> Lista dei messaggi ricevuti</a></li>
                        </ul>
                    </li>

                    @* aggiungo la partial del login generato dal framework *@
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
</header>